.gdmradio-section {
  position: relative;
  background-color: hsla(hue(black), saturation(black), lightness(black), 0.6);
  width: 100%;
  margin-bottom: @gdmradio-spacing;
}

.gdmradio-section-content {
  position: relative;
  width: 100%;
  padding: @gdmradio-spacing;
}

.gdmradio-section-facebook {
  position: relative;
  width: 100%;
  padding-right: @gdmradio-spacing;
}

.gdmradio-section-twitter {
  position: relative;
  width: 100%;
  padding: 0px @gdmradio-spacing 0px @gdmradio-spacing;
}

.gdmradio-section-title-inline {
  position: absolute;
  top: 0px;
  right: @gdmradio-spacing;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.gdmradio-section-title {
  position: relative;
  right: @gdmradio-spacing;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.gdmradio-section-buttons {
  position: relative;
  right: @gdmradio-spacing;
  text-align: right;
}

.gdmradio-section-split {
  width: 100%;
  margin-bottom: @gdmradio-spacing;
  position: relative;
  display: flex;
}

.gdmradio-section-split-left {
  position: relative;
  flex: 1;
  background-color: hsla(hue(black), saturation(black), lightness(black), 0.6);
  margin-right: @gdmradio-spacing / 2;
}

.gdmradio-section-split-right {
  position: relative;
  flex: 1;
  background-color: hsla(hue(black), saturation(black), lightness(black), 0.6);
  margin-left: @gdmradio-spacing / 2;
}

@media all and (max-width: @screen-sm-min) {

  .gdmradio-section-split {
    flex-flow: column;
    flex-direction: column;
  }

  .gdmradio-section-title {
    text-align: left;
    left: @gdmradio-spacing / 2;
    right: 0px;
  }

  .gdmradio-section-title-inline {
    position: relative;
    right: 0px;
    left: @gdmradio-spacing / 2;
  }

  .gdmradio-section-split-left {
    margin-right: 0px;
    margin-bottom: @gdmradio-spacing;
  }

  .gdmradio-section-split-right {
    margin-left: 0px;
  }

}