@import "../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "../../vendor/twitter/bootstrap/less/responsive.less";
@import "../../packages/shared/less/shared.less";

///////////////
// VARIABLES //
///////////////

@spacing: 6px;

/////////////////////////
// BOOTSTRAP OVERRIDES //
/////////////////////////

@bodyBackground: @grayDarker;
@textColor: @white;
@navbarBackgroundHighlight: #86A253;
@navbarBackground: #0E58A8;
@navbarBrandColor: black;
@navbarLinkColorHover: white;
@navbarLinkColor: black;
@navbarLinkColorActive: white;

////////////
// HEADER //
////////////

// desktop
.tpt-header-logo {
  width: 451px;
}

// tablet
@media (max-width: 767px) {
  .tpt-header-logo {
    width: 227px;
  }
}

// phone
@media (max-width: 480px) {
  .tpt-header-logo {
    width: 176px;
  }
}

////////////
// LISTEN //
////////////

.gdmradio-listen {
  text-align: center;
  margin-bottom: @spacing * 3;
}

.gdmradio-listen a {
  width: 160px;
  .buttonBackground(#86A253, #0E58A8);
}

/////////////
// PLAYING //
/////////////

.gdmradio-playing {
  float: right;
  color: white;
  margin-right: @spacing;
  margin-top: @spacing;
  text-align: right;
}

.gdmradio-playing-now {
  font-weight: bold;
}

.gdmradio-playing-artist-song {
}

.gdmradio-playing-listen {
  margin-top: @spacing;
}

// tablet
@media (max-width: 767px) {

  .gdmradio-playing {
    margin-top: 0px;
  }

}

// phone
@media (max-width: 480px) {

  .gdmradio-playing {
    margin-top: -1 * @spacing / 2;
    font-size: 10px;
  }

  .gdmradio-playing-artist-song {
    margin-top: -1 * @spacing / 2;
  }

  .gdmradio-playing-listen {
    margin-top: 0px;
  }

}

/////////////
// WELCOME //
/////////////

.gdmradio-welcome {
  color: #808285;
}