@import "../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "../../vendor/twitter/bootstrap/less/responsive.less";
@import "../../packages/shared/less/shared.less";

///////////////
// VARIABLES //
///////////////

@spacing: 6px;

/////////////////////////
// BOOTSTRAP OVERRIDES //
/////////////////////////

@bodyBackground: @grayDarker;
@textColor: @white;
@navbarBackgroundHighlight: #86A253;
@navbarBackground: #0E58A8;
@navbarBrandColor: black;
@navbarLinkColorHover: white;
@navbarLinkColor: black;
@navbarLinkColorActive: white;

////////////
// LISTEN //
////////////

.gdm-listen {
  text-align: center;
  margin-bottom: @spacing * 3;
}

.gdm-listen a {
  width: 160px;
  .buttonBackground(#86A253, #0E58A8);
}

.gdm-welcome {
  color: #808285;
}

.gdm-header {
  float: right;
}