@import "../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "../../vendor/twitter/bootstrap/less/responsive.less";
@import "../../packages/shared/less/shared.less";

///////////////
// VARIABLES //
///////////////

@Spacing: 6px;
@AccentColor1: #21409A;
@AccentColor2: #0077b3;
@BackgroundColor1: #2D2D2D;
@BackgroundColor2: #5C5C5C;
@BackgroundColor3: #707070;
@bodyBackground: @grayDarker;
@textColor: @white;
@navbarBackgroundHighlight: #CB2189;
@navbarBackground: #842889;
@navbarBrandColor: black;
@navbarLinkColorHover: white;
@navbarLinkColor: black;
@navbarLinkColorActive: white;

////////////
// LISTEN //
////////////

.gdm_listen {
  text-align: center;
}

.gdm_listen a {
  width: 160px;
  .buttonBackground(#842889, #CB2189);
}